annotated-types==0.7.0
asttokens==2.4.1
devtools==0.12.2
executing==2.2.1
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
six==1.17.0
sockets==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
